.cart-modal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 50px;
}

.diva {
  margin: 200px;
  margin-top: 50px;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 50px;
}

.cart-table thead {
  background-color: #f5f5f5;
}

.cart-table th, .cart-table td {
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
}

.cart-table th {
  font-size: 20px;
  color: #0000009b;
}

.cart-table td {
  font-size: 18px;
}

.cart-table img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.cart-table .cartitems-quantity {
  border: none;
  background: white;
  text-align: center;
}

.cart-table .cartitems-remove-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-table .cartitems-remove-icon i {
  color: #f00;
  font-size: 20px;
}

.cart-table .cartitems-remove-icon i:hover {
  color: #f55;
}

.cartitems-down {
  display: flex;
  justify-content: center;
  margin: 100px 0;
  align-items: center;
}

.cartitems-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 0px;
  gap: 40px;
}

.cartitems-total-item {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px;
}

.teste {
  margin-bottom: 200px;
}

.Chekout {
  border-radius: 50px;
  border: none;
  padding: 20px;
  background: #0000009b;
  color: #fff;
  font-size: 25px;
  font-weight: 100;
  cursor: pointer;
}
