.product-page {
  padding: 20px;
}

.product-page img {
  max-width: 100%;
  height: auto;
}
.product-page h1{
  color: #048a84;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;
}


.product-page h2  {
  
  margin-top: 20px;
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.product-page .info {
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.product-page .price {
  font-weight: bold;
  color: #333;
}

.product-page p {
  margin-top: 10px;
  font-size: 25px;
}

.product-page .qty-input {
  width: 80px;
  margin: 15px;
  padding: 5px;
  font-size: 16px;
  border-radius: 10px;
  border-color: #048a84;
}

 .adde {
  margin-top: 10px;
  margin-bottom: 30%;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #048a84;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.addproduct {
margin-top: 10px;
margin-bottom: 30%;
padding: 10px 20px;
font-size: 16px;
background-color: #048a84;
color: white;
border: none;
border-radius: 10px;
cursor: pointer;
width: 50%;
display: block;
margin-left: auto;
margin-right: auto;}

.product-page .add:hover {
  color: #048a84;
  background-color: white;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.content {
  position: fixed;
  background-color: white;
  padding: 20px;
  width: 50%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}