.item {
    width: 255px;
    position: relative;
    box-shadow: #0b0b0b;
    border-radius: 150px;
    margin: 30px;
}

.item p {
    margin: 6px 0px;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
    
}

.container .description  {
    font-family: 'Times New Roman', Times, serif;
}
.container{
    /* display: flex; */
    justify-content: space-between;
    margin-bottom: 10px;
    
}
.item-prices {
    /* display: flex; */
    gap: 10px;
    align-items: center; 
    
}

.item-price-new{
    color: #374151;
    font-size: 18 px;
    font-weight: 600;
}

.item-price-old {
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}

.add {
    background-color: #0000009b;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 15px;
    right: 20px;
    bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    font-family :'Times New Roman', Times, serif;
    position: absolute;
}

.add:hover {
    background-color: rgba(206, 206, 206, 0.664);
    color: #000000;
    font-size: 17px;
}

.icon {
    font-size: 14px;
    vertical-align: middle;
    margin-right: 5px;
}
